<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.c88.affiliate.mapper.AffiliateProtectPasswordQuestionMapper">

    <resultMap id="BaseResultMap" type="com.c88.affiliate.pojo.entity.AffiliateProtectPasswordQuestion">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="parentId" column="parent_id" jdbcType="BIGINT"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="question1" column="question1" jdbcType="VARCHAR"/>
            <result property="answer1" column="answer1" jdbcType="VARCHAR"/>
            <result property="question2" column="question2" jdbcType="VARCHAR"/>
            <result property="answer2" column="answer2" jdbcType="VARCHAR"/>
            <result property="question3" column="question3" jdbcType="VARCHAR"/>
            <result property="answer3" column="answer3" jdbcType="VARCHAR"/>
            <result property="gmtModified" column="gmt_modified" jdbcType="TIMESTAMP"/>
            <result property="gmtCreate" column="gmt_create" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,parent_id,username,
        question1,answer1,question2,
        answer2,question3,answer3,
        gmt_modified,gmt_create
    </sql>
</mapper>
